@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #48a19d;
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

p {
    font-size: 18px;
    color: black;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

img {
    height: 60px;
    border-radius: 25%;
}

.a1:hover .profile-menu {
    display: block;
    position: absolute;
    left: 75px;
    top: 45px;
}

.profile-menu {
    display: none;
    background-color: rgb(72, 161, 157);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;

}

.main {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    background-image: url(./assets-img/background.jpg);
    background-size: auto;
}
 
h1 {
    font-size: 35px;
}

form{
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    padding: 5px;
    color: white;
}

input{
    background: none;
    border: none;
    margin-bottom: 25px;
    color: white;
    appearance: none;
}

input:hover {
    background: none;
    appearance: none;
}

.conf {
    display: flex;
    justify-content: center;
}

.button-reg {
    width: 400px;
    height: 200px;
    font-weight: bold;
    font-size: 35px;
    border: none;
    background-image: url(./assets-img/confirm.jpg);
    background-size: 400px 200px;
    border-radius: 5%;
    cursor: pointer;
}


