@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    font-family: 'Oswald';
    background-image: url(./assets-img/fon2.jpg);
    background-size: 1300px 1000px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(59, 54, 55, 0.418);
    border: 2px solid black;
    border-radius: 10px;
}

.menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

p {
    font-size: 18px;
    color: white;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

img {
    height: 60px;
    border-radius: 25%;
}

.a1:hover .profile-menu {
    display: block;
    position: absolute;
    left: 75px;
    top: 45px;
}

.profile-menu {
    display: none;
    background-color: black;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.main {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}
 
h1 {
    font-size: 35px;
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.644);
    margin-top: 150px;
    padding: 30px;
    color: ;
}

label {
    font-size: 20px;
    padding: 5px;
    color: black;
}

input{
    border: 1px solid black;
    background: none;
    margin-bottom: 25px;
    color: white;
    appearance: none;
}

.conf {
    display: flex;
    justify-content: center;
}

.form-img {
    width: 35%;
}

.form-img-flex {
    display: flex;
    justify-content: center;
}

.button-reg {
    background: none;
    width: 25%;
    height: 40px;
    
}
